@import "tailwindcss";

@theme {
  --color-brand-brown: #8b5e3c;
  --color-brand-light: #fdfaf7;
  --color-brand-cream: #f4eee8;
  --color-brand-dark: #4a3728;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
}



/* Hides the default eye icon in Microsoft Edge and Chrome */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}


input:focus {
  outline: none;
}